<div>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <md-toolbar color="warn">
      <div fxLayout="row" fxFlex="50" fxLayoutAlign="start center">
        Settings
      </div>
      <div fxLayout="row" fxFlex="50" fxLayoutAlign="end center">
        <button md-button><i class="material-icons md-32" [class.md-dark]="false">cancel</i></button>
      </div>
    </md-toolbar>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" class="sidenav-content">
    <md-tab-group>
      <md-tab label="Tab 1">
        <md-list>
          <md-list-item>
            <md-select placeholder="Themes">
              <md-option>Default Theme</md-option>
              <md-option>Light Theme</md-option>
              <md-option>Dark Theme</md-option>
            </md-select>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-slide-toggle>Slide me!</md-slide-toggle>
          </md-list-item>
        </md-list>
      </md-tab>
      <md-tab label="Tab 2">Content 2</md-tab>
      <md-tab label="Tab 3">Content 3</md-tab>
      <md-tab label="Tab 4">Content 4</md-tab>
    </md-tab-group>
  </div>
</div>


