<header class="header">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="stretch" class="content">
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" class="content">
        <div fxLayout="column" fxFlex="70">
          <md-toolbar color="primary">
            <div fxLayout="row" fxFlex="100">
              <div fxLayout="row" fxFlex="25" fxLayoutAlign="start center">
                <button md-button (click)="sendSignalToToggleSideNav()"><i class="material-icons md-24" [class.md-dark]="false">dehaze</i></button>
                <button md-button [routerLink]="['/']">
                  <img src="assets/images/logo.png" class="logo" />
                </button>
              </div>
              <div fxLayout="row" fxFlex="50" fxLayoutAlign="center center">
                <anms-big-input placeholder="Search videos, games and channels"
                                [value]="searchQuery"
                                (keyup)="onSearchChange($event.target.value)"
                                (keyup.enter)="onSearch()"
                                (keyup.escape)="onSearchReset()">
                  <anms-big-input-action icon="delete_forever" color="warn"
                                         (action)="onSearchReset()"
                                         mdTooltip="Reset" mdTooltipPosition="after">
                  </anms-big-input-action>
                </anms-big-input>
              </div>
              <div fxLayout="row" fxFlex="25" fxLayoutAlign="end center">
                <i class="material-icons md-24" [class.md-dark]="false">file_upload</i>
                <button md-button><i class="material-icons md-24" [class.md-dark]="false">apps</i></button>
                <i class="material-icons md-24" [class.md-dark]="false">more_vert</i>
                <button md-button color="accent" class="font-size-large">SIGN IN</button>
              </div>
            </div>
          </md-toolbar>
        </div>
        <div fxLayout="column" fxFlex="30" fxLayoutAlign="end center">



          <nav md-tab-nav-bar>
            <a md-tab-link *ngFor="let navLink of navLinks" [routerLink]="navLink.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
              {{navLink.label}}
            </a>
          </nav>
        </div>
      </div>
    </div>
</header>
