// MAIN STYLES
$background-color-oas: #000000;
$header-height: 112px;
$footer-height: 100px;


// FONT COLORS
$font-color-primary: #ffffff;


// FONT SIZE
$h1-font-size: 3.0vw;
$h2-font-size: 2.0vw;
$p-font-size: 3vmin;

