.search-card {
  width: 90%;
}

.search-video-title {
  font-size: 1.3vw;
  font-weight: 500;
}

search-video-description {
  font-size: 1vw;
  font-weight: 400;
  color: #adadad;
}

.search-video-channel {
  font-size: 1vw;
  font-weight: 700;
}

.search-image {
  width: 250px;

}


